.miupblue-text{
    color: #4C71B1;
}

.miupblue-bg{
    background-color: #4C71B1 !important;
}

.ourwhite-text{
	color: #F5F5F5;
}

.ourwhite{
  background-color: #F5F5F5;
}
a, a:link, a:visited, a:active {
    color: #4C71B1;
    text-decoration: none;
    margin: 0 auto;
    padding: 0px;
}
body {
    background-color: #F5F5F5;
}
h1 {
    color: miupblue;
}

h3{
    font-size: 10px;
}
p {
    color: black;
		text-align: justify;
		font-size: 16px;
}

img {
    align-items: center;
}
.vertical-align {
    display: flex;
    align-items: center;
}

.middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.page-footer{
	padding-bottom: 0px !important;
	font-size: 14px !important;
}

#top-nav{
    font-size: 20px;
    position: fixed;
    width: 100%;
    height:80px;
    background-color: #F5F5F5;
    padding-top: px;
    padding-right: 50px;
    padding-left: 50px;
}

#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }


.ddwidth{
	min-width: 150px !important;
}
.container-fluid {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 70px;
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
}

#container{
  background-color: #4C71B1;
}

.nav {
  background-color: #4C71B1 !important;
}

@media (max-width: 600px) {
  .navbar-material .nav-wrapper .brand-logo .img {
    height: 2px;
  }
}


.dropdown-content li > a, a:link, a:visited, a:active, span{
    color: #4C71B1 !important;
}
